aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
black==22.3.0
branca==0.5.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
crispy-bootstrap5==0.6
Django==4.0.4
django-crispy-forms==1.14.0
Faker==12.0.1
folium==0.12.1.post1
frozenlist==1.3.0
geographiclib==1.52
geoip2==4.5.0
geopy==2.2.0
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
maxminddb==2.2.0
mixer==7.2.2
multidict==6.0.2
mypy==0.960
mypy-extensions==0.4.3
numpy==1.22.4
pathspec==0.9.0
platformdirs==2.5.2
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
yarl==1.7.2
